:root {
  --playerBoardSize: min(70vh, 70vw);
}

@font-face {
  font-family: 'black-ops';
  src: url(../fonts/BlackOpsOne-Regular.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  position: relative;
  background-image: url(../imgs/navy.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template: 100px 1fr / 5fr 4fr;
  align-items: center;
  justify-items: center;
}

.gameName {
  grid-area: 1/1/2/3;
  font-size: 4rem;
  font-family: 'black-ops';
  text-shadow: -2px 1px 2px red;
}

.playerBoard {
  grid-area: 2/1/3/2;
  height: var(--playerBoardSize);
  width: var(--playerBoardSize);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
}

.opponentBoard {
  grid-area: 2/2/3/3;
  height: calc(var(--playerBoardSize) * .8);
  width: calc(var(--playerBoardSize) * .8);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
}

.rowMarkers {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.columnMarkers {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rowLabel, 
.columnLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.rowLabel {
  height: 10%;
  width: 100%;
}

.columnLabel {
  height: 100%;
  width: 10%;
}

.playerGameSquares,
.opponentGameSquares {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.playerSquare,
.opponentSquare {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}